In [1]:
import pandas as pd
import numpy as np
import re
from tqdm import tqdm 
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('data\events.csv')
atBats = []
for i in range(len(df)):
    if df['Away'][i].isdigit():
        atBats.append(1)
    else:
        atBats.append(0)
df["At Bat"] = atBats

In [3]:
pbp = df[df["At Bat"] == 1]

In [4]:
del pbp["At Bat"]

In [5]:
pbp.reset_index(drop=True, inplace=True)
inning = []
for i in range(len(pbp)):
    inning.append(re.findall(r'\d+', pbp['Inning'][i])[0])
pbp["Inning"] = inning

In [6]:
pbp.head()
pbp2= pbp

In [7]:
pbp = pbp2

In [8]:
events = ['out','hit by pitch','singled','doubled','tripled','advance','walked','stole','caught stealing','pickoff','picked off','homer','homerun','homerun','sacrifice fly','sacrificed','wild pitch','error','bunt','single','double','triple','struck out']
out = []
for event in events:
    pbp[event] = pbp['Events'].str.contains(event, na = False).astype(int)

In [9]:
pbpReserve = pbp

In [10]:
pbp.head()

,Game,Pitching Team,Batting Team,Inning,Event Id,Events,Away,Home,out,hit by pitch,...,homerun,sacrifice fly,sacrificed,wild pitch,error,bunt,single,double,triple,struck out
0,360403123,PIT,STL,1,1,Carpenter grounded out to first.,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,360403123,PIT,STL,1,2,Pham grounded out to third.,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,360403123,PIT,STL,1,3,Holliday struck out looking.,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,360403123,STL,PIT,1,5,Jaso grounded out to second.,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,360403123,STL,PIT,1,6,McCutchen hit by pitch.,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [11]:
pbp['homerun']=pbp['homer']+pbp['homerun']
pbp['pickoff']=pbp['caught stealing']+pbp['pickoff']
pbp['sacrifice']=pbp['sacrifice fly'] + pbp['sacrificed']
pbp['single'] = pbp['single']+pbp['singled']
pbp['double'] = pbp['double']+pbp['doubled']
pbp['triple'] = pbp['triple']+pbp['tripled']
pbp['advance'] = pbp['advance'] + pbp['wild pitch']+pbp['error']+pbp['bunt']
pbp['pickoff'] = pbp['pickoff'] + pbp['picked off']
pbp['out'] = pbp['out'] + pbp['sacrifice']+pbp['pickoff']

In [12]:
del pbp['homer']
del pbp['caught stealing']
del pbp['sacrifice fly']
del pbp['wild pitch']
del pbp['error']
del pbp['picked off']
del pbp['bunt']
del pbp['singled']
del pbp['doubled']
del pbp['tripled']

In [13]:
events = ['out','hit by pitch','single','double','triple','advance','walked','stole','pickoff','homerun','struck out']

In [14]:
pbp['sum'] = np.zeros(len(pbp))
for event in events:
    pbp['sum'] = pbp['sum'] + pbp[event]
pbp=pbp[pbp['sum']!=0]

In [15]:
pbp.head()

,Game,Pitching Team,Batting Team,Inning,Event Id,Events,Away,Home,out,hit by pitch,...,stole,pickoff,homerun,sacrificed,single,double,triple,struck out,sacrifice,sum
0,360403123,PIT,STL,1,1,Carpenter grounded out to first.,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1.0
1,360403123,PIT,STL,1,2,Pham grounded out to third.,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1.0
2,360403123,PIT,STL,1,3,Holliday struck out looking.,0,0,1,0,...,0,0,0,0,0,0,0,1,0,2.0
3,360403123,STL,PIT,1,5,Jaso grounded out to second.,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1.0
4,360403123,STL,PIT,1,6,McCutchen hit by pitch.,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1.0

In [16]:
pbp['sum'] = pbp['out']-pbp['out']
for event in events:
    pbp['sum']=pbp['sum']+pbp[event]

In [17]:
pbp= pbp[pbp['sum']!=0]

In [18]:
del pbp['sum']

In [19]:
pbp.reset_index(drop=True, inplace=True)

In [20]:
pbp['Event Id'] = pbp.index

In [21]:
endOfGame = np.zeros(len(pbp))
home_team = np.array(["asdf" for _ in range(len(pbp))])
away_team = np.array(["asdf" for _ in range(len(pbp))])
home_team_final_score = np.zeros(len(pbp))
away_team_final_score = np.zeros(len(pbp))

count = 0
games = pbp['Game'].unique()
for gameId in games:
    count = count + 1
    if count % 100 == 0:
        print(count/len(games))
    last_play = pbp[pbp['Game'] == gameId].iloc[-1]
    last_play_index= last_play['Event Id']
    endOfGame[last_play_index] = 1
    
    first_play = pbp[pbp['Game'] == gameId].iloc[0]
    away_team1=first_play['Batting Team']
    home_team1=first_play['Pitching Team']
    
    home_team[pbp['Game']==gameId]=home_team1
    away_team[pbp['Game']==gameId]=away_team1
    
    home_team_final_score[pbp['Game']==gameId]=last_play['Home']
    away_team_final_score[pbp['Game']==gameId]=last_play['Away']
    
    
    
pbp['End Of Game'] = endOfGame
pbp['Home Team'] = home_team
pbp['Away Team'] = away_team
pbp['Home Final'] = home_team_final_score
pbp['Away Final'] = away_team_final_score

0.007474400179385604
0.014948800358771209
0.02242320053815681
0.029897600717542418
0.03737200089692802
0.04484640107631362
0.05232080125569923
0.059795201435084835
0.06726960161447045
0.07474400179385604
0.08221840197324165
0.08969280215262725
0.09716720233201286
0.10464160251139847
0.11211600269078406
0.11959040287016967
0.12706480304955528
0.1345392032289409
0.14201360340832647
0.14948800358771208
0.1569624037670977
0.1644368039464833
0.1719112041258689
0.1793856043052545
0.1868600044846401
0.1943344046640257
0.20180880484341132
0.20928320502279693
0.2167576052021825
0.22423200538156812
0.23170640556095373
0.23918080574033934
0.24665520591972495
0.25412960609911056
0.26160400627849617
0.2690784064578818
0.27655280663726733
0.28402720681665294
0.29150160699603855
0.29897600717542416
0.3064504073548098
0.3139248075341954
0.321399207713581
0.3288736078929666
0.3363480080723522
0.3438224082517378
0.3512968084311234
0.358771208610509
0.3662456087898946
0.3737200089692802
0.3811944091486658
0.3886688093280514
0.39614320950743703
0.40361760968682264
0.41109200986620825
0.41856641004559386
0.42604081022497947
0.433515210404365
0.44098961058375064
0.44846401076313624
0.45593841094252185
0.46341281112190746
0.4708872113012931
0.4783616114806787
0.4858360116600643
0.4933104118394499
0.5007848120188355
0.5082592121982211
0.5157336123776067
0.5232080125569923
0.530682412736378
0.5381568129157636
0.5456312130951491
0.5531056132745347
0.5605800134539203
0.5680544136333059
0.5755288138126915
0.5830032139920771
0.5904776141714627
0.5979520143508483
0.6054264145302339
0.6129008147096195
0.6203752148890052
0.6278496150683908
0.6353240152477764
0.642798415427162
0.6502728156065476
0.6577472157859332
0.6652216159653188
0.6726960161447044
0.68017041632409
0.6876448165034756
0.6951192166828613
0.7025936168622468
0.7100680170416324
0.717542417221018
0.7250168174004036
0.7324912175797892
0.7399656177591748
0.7474400179385604
0.754914418117946
0.7623888182973316
0.7698632184767172
0.7773376186561028
0.7848120188354885
0.7922864190148741
0.7997608191942597
0.8072352193736453
0.8147096195530309
0.8221840197324165
0.8296584199118021
0.8371328200911877
0.8446072202705733
0.8520816204499589
0.8595560206293444
0.86703042080873
0.8745048209881157
0.8819792211675013
0.8894536213468869
0.8969280215262725
0.9044024217056581
0.9118768218850437
0.9193512220644293
0.9268256222438149
0.9343000224232005
0.9417744226025861
0.9492488227819718
0.9567232229613574
0.964197623140743
0.9716720233201286
0.9791464234995142
0.9866208236788998
0.9940952238582854

In [22]:
pbp.head()

,Game,Pitching Team,Batting Team,Inning,Event Id,Events,Away,Home,out,hit by pitch,...,single,double,triple,struck out,sacrifice,End Of Game,Home Team,Away Team,Home Final,Away Final
0,360403123,PIT,STL,1,0,Carpenter grounded out to first.,0,0,1,0,...,0,0,0,0,0,0.0,PIT,STL,4.0,1.0
1,360403123,PIT,STL,1,1,Pham grounded out to third.,0,0,1,0,...,0,0,0,0,0,0.0,PIT,STL,4.0,1.0
2,360403123,PIT,STL,1,2,Holliday struck out looking.,0,0,1,0,...,0,0,0,1,0,0.0,PIT,STL,4.0,1.0
3,360403123,STL,PIT,1,3,Jaso grounded out to second.,0,0,1,0,...,0,0,0,0,0,0.0,PIT,STL,4.0,1.0
4,360403123,STL,PIT,1,4,McCutchen hit by pitch.,0,0,0,1,...,0,0,0,0,0,0.0,PIT,STL,4.0,1.0

In [23]:
pbp['Home Team Batting'] = (pbp['Home Team'] == pbp['Batting Team']).astype(int)

In [24]:
pbp['Batting Team Score'] = pbp['Home Team Batting']*pbp['Home'] +(1-pbp['Home Team Batting'])*pbp['Away']
pbp['Pitching Team Score'] = (1-pbp['Home Team Batting'])*pbp['Home'] +pbp['Home Team Batting']*pbp['Away']
pbp['Batting Team Final'] = pbp['Home Team Batting']*pbp['Home Final'] +(1-pbp['Home Team Batting'])*pbp['Away Final']
pbp['Pitching Team Final'] = (1-pbp['Home Team Batting'])*pbp['Home Final'] +pbp['Home Team Batting']*pbp['Away Final']

In [25]:
home_total_outs = np.zeros(len(pbp))
home_team_outs = np.zeros(len(pbp))
away_total_outs = np.zeros(len(pbp))
away_team_outs =np.zeros(len(pbp))
for gameId in games:
    away_team_outs[pbp['Game']==gameId] = pbp[pbp['Game']==gameId]['out']*(1-pbp[pbp['Game']==gameId]['Home Team Batting'])
    home_team_outs[pbp['Game']==gameId] = pbp[pbp['Game']==gameId]['out']*(pbp[pbp['Game']==gameId]['Home Team Batting'])
    away_total_outs[pbp['Game']==gameId] = away_team_outs[pbp['Game']==gameId].cumsum()
    home_total_outs[pbp['Game']==gameId] = home_team_outs[pbp['Game']==gameId].cumsum()
pbp["Home Outs"] = home_total_outs
pbp["Away Outs"] = away_total_outs

In [26]:
pbp["Batting Outs"] = pbp['Home Team Batting']*pbp['Home Outs'] +(1-pbp['Home Team Batting'])*pbp['Away Outs']
pbp["Pitching Outs"] = (1-pbp['Home Team Batting'])*pbp['Home Outs'] +(pbp['Home Team Batting'])*pbp['Away Outs']

In [27]:
pbp['Home Wins'] = (pbp["Home Final"] >pbp["Away Final"]).astype(int)
pbp['Batting Wins'] = (pbp["Batting Team Final"] >pbp["Pitching Team Final"]).astype(int)

In [28]:
pbp.head()

,Game,Pitching Team,Batting Team,Inning,Event Id,Events,Away,Home,out,hit by pitch,...,Batting Team Score,Pitching Team Score,Batting Team Final,Pitching Team Final,Home Outs,Away Outs,Batting Outs,Pitching Outs,Home Wins,Batting Wins
0,360403123,PIT,STL,1,0,Carpenter grounded out to first.,0,0,1,0,...,0,0,1.0,4.0,0.0,1.0,1.0,0.0,1,0
1,360403123,PIT,STL,1,1,Pham grounded out to third.,0,0,1,0,...,0,0,1.0,4.0,0.0,2.0,2.0,0.0,1,0
2,360403123,PIT,STL,1,2,Holliday struck out looking.,0,0,1,0,...,0,0,1.0,4.0,0.0,3.0,3.0,0.0,1,0
3,360403123,STL,PIT,1,3,Jaso grounded out to second.,0,0,1,0,...,0,0,4.0,1.0,1.0,3.0,1.0,3.0,1,1
4,360403123,STL,PIT,1,4,McCutchen hit by pitch.,0,0,0,1,...,0,0,4.0,1.0,1.0,3.0,1.0,3.0,1,1

In [29]:
Xfeatures = ['Batting Team Score','Pitching Team Score','Batting Outs','Pitching Outs']
Yfeatures = ['Batting Wins']

In [30]:
pbp = pbp.dropna()

In [31]:
X = np.array(pbp[Xfeatures])
Y = np.array(pbp[Yfeatures])

In [32]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression().fit(X, Y)

In [33]:
reg.score(X, Y)

0.7559085796760981

In [34]:
reg.predict_proba([[0,0,0,0],[0,0,1,0]])

array([[0.48765215, 0.51234785],
       [0.51697468, 0.48302532]])

In [35]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
Xtr, Xte, Ytr, Yte = train_test_split(X, Y, test_size=0.94, random_state=2718)

clf = MLPClassifier(random_state=2718, max_iter=300).fit(Xtr, Ytr)

In [36]:
clf.score(Xte, Yte)

0.7521536014505034

In [37]:
clf.predict_proba([[0,0,0,0],[0,0,1,0]])

array([[0.48751415, 0.51248585],
       [0.53838831, 0.46161169]])

In [38]:
np.sum(pbp['Home Wins'])/len(pbp)

0.5211574559231664

In [39]:
Xfeatures = ['Home','Away','Home Outs','Away Outs']
Yfeatures = ['Home Wins']

In [40]:
X = np.array(pbp[Xfeatures])
Y = np.array(pbp[Yfeatures])

In [41]:
reg = LogisticRegression().fit(X, Y)

In [42]:
reg.predict_proba([[0,0,0,0],[0,0,1,0]])

array([[0.45416252, 0.54583748],
       [0.47431145, 0.52568855]])

In [43]:
arr = {}
arr['Game'] = []
for event in events:  
    arr[event] = []
arr['Home Wins'] = []
for gameId in games:
    first_play = pbp[pbp['Game'] == gameId].iloc[0]
    arr['Game'].append(gameId)
    for event in events:
        arr[event].append(first_play[event])
    arr['Home Wins'].append(first_play['Home Wins'])
gamedf=pd.DataFrame(arr)

In [44]:
def prob_to_odds(p):
    if p > .5:
        return -1*((-100*p)/(p-1))
        
    return (100-100*p)/p


def odds_to_prob(odds):
    if odds < 0:
        return abs(odds)/(abs(odds) + 100)
    return 100/(odds + 100)

In [45]:
for event in events:
    print()
    print(event)
    #print("Probability of first at bat resulting in a " + str(event) + str(" and x team winning"))
    eventOccurs = gamedf[gamedf[event]==1]
    prob= np.sum(eventOccurs['Home Wins'])/len(eventOccurs)
    print('Home Team wins Odds: ' + str(prob_to_odds(prob)))
    prob= np.sum(1-eventOccurs['Home Wins'])/len(eventOccurs)
    print('Away Team wins Odds: ' + str(prob_to_odds(prob)))

out
Home Team wins Odds: -125.33267619517004
Away Team wins Odds: 125.33267619517004

hit by pitch
Home Team wins Odds: 133.33333333333334
Away Team wins Odds: -133.33333333333331

single
Home Team wins Odds: -120.40816326530611
Away Team wins Odds: 120.40816326530611

double
Home Team wins Odds: 112.50000000000001
Away Team wins Odds: -112.50000000000001

triple
Home Team wins Odds: nan
Away Team wins Odds: nan

advance
Home Team wins Odds: -125.26315789473685
Away Team wins Odds: 125.26315789473685

walked
Home Team wins Odds: 101.31868131868131
Away Team wins Odds: -101.31868131868134

stole
Home Team wins Odds: nan
Away Team wins Odds: nan

pickoff
Home Team wins Odds: nan
Away Team wins Odds: nan

homerun
Home Team wins Odds: 146.11111111111111
Away Team wins Odds: -146.11111111111114

struck out
Home Team wins Odds: -130.63133281371788
Away Team wins Odds: 130.63133281371785

In [46]:
    arr['Game'] = []

    arr['Batting Team Final'] = []
    arr['Pitching Team Final'] = []
    arr['Home Final'] =[]
    arr['Away Final'] =[]
    arr['Batting Wins']=[]
    arr['Home Wins'] = []

In [47]:
def getFeaturesByGame(df2,games,gameFeatures,firstPlayFeatures=[]):
    arr = {}
    if 'Game' not in gameFeatures:
        arr['Game'] = []
    else:
        gameFeatures.remove('Game')
        arr['Game'] = []
    for f in gameFeatures:
        arr[f] = []
    for f in firstPlayFeatures:
        arr[f] = []
    for gameId in games:
        arr['Game'].append(gameId)
        first_play = df2[df2['Game'] == gameId].iloc[0]
        
        for f in firstPlayFeatures:
            arr[f].append(first_play[f])
        for f in gameFeatures:
            arr[f].append(first_play[f])
    return pd.DataFrame(arr)

In [48]:
gameFeatures = ['Game','Batting Team Final','Pitching Team Final','Home Final','Away Final','Home Wins','Batting Wins']
scoreDf = getFeaturesByGame(pbp,games,gameFeatures)

In [49]:
loserScore = scoreDf['Home Wins']*scoreDf['Away Final'] + (1-scoreDf['Home Wins'])*scoreDf['Home Final']

In [50]:
(len(loserScore[loserScore >3.5])/len(loserScore))

0.32057702369384855

In [51]:
odds_to_prob(-150)

0.6

In [52]:
arr = {}
arr['Game'] = []
arr['Team Score'] = []
arr['Opp Score'] = []
arr['Won'] = []
for gameId in games:
    arr['Game'].append(gameId)
    arr['Game'].append(gameId)
    first_play = pbp[pbp['Game'] == gameId].iloc[0]
    arr['Team Score'].append(first_play['Home Final'])
    arr['Team Score'].append(first_play['Away Final'])
    arr['Opp Score'].append(first_play['Away Final'])
    arr['Opp Score'].append(first_play['Home Final'])
    arr['Won'].append(first_play['Home Wins'])
    arr['Won'].append(1-first_play['Home Wins'])

In [53]:
teamDf = pd.DataFrame(arr)

In [55]:
theirOddsB= -120
theirOddsTotal = 370
myOdds = (len(teamDf[teamDf['Opp Score']>3.5][teamDf['Won']==1])/len(teamDf[teamDf['Opp Score']>3.5]))*odds_to_prob(theirOddsB)
print('My Odds ' + str(prob_to_odds(myOdds)))
print('Their Odds ' + str(theirOddsTotal))

My Odds 554.8962462112381
Their Odds 370

### The implied odds say this is awful.  I think betting against this would probably be beneficial if I could

### No edge when going with lower score. But it gets better

In [56]:
theirOddsB= -525
theirOddsTotal = 130
myOdds = (len(teamDf[teamDf['Opp Score']>1.5][teamDf['Won']==1])/len(teamDf[teamDf['Opp Score']>1.5]))*odds_to_prob(theirOddsB)
print('My Odds ' + str(prob_to_odds(myOdds)))
print('Their Odds ' + str(theirOddsTotal))

My Odds 188.08392959947363
Their Odds 130

### Better but not good enough

In [57]:
theirOddsB= -2500
theirOddsTotal = -120
myOdds = (len(teamDf[teamDf['Opp Score']>.5][teamDf['Won']==1])/len(teamDf[teamDf['Opp Score']>.5]))*odds_to_prob(theirOddsB)
print('My Odds ' + str(prob_to_odds(myOdds)))
print('Their Odds ' + str(theirOddsTotal))

My Odds 121.77804114111571
Their Odds -120

### Now lets look at unders runs

In [102]:
totalRuns = 6.5
theirOddsB= 190
theirOddsTotal = -160
teamDf['Total Score'] = teamDf['Team Score']+teamDf['Opp Score']
conditionScore = teamDf[teamDf['Team Score'] < totalRuns][teamDf['Opp Score'] < totalRuns]
print(len(teamDf))
print(len(conditionScore))
myOdds = (len(conditionScore[conditionScore['Won']==1])/len(conditionScore))*odds_to_prob(theirOddsB)
myOdds2 = (len(conditionScore[conditionScore['Won']==1])/len(conditionScore))*(len(conditionScore)/len(teamDf))
print('My Odds ' + str(prob_to_odds(myOdds)))
print('Their Odds ' + str(theirOddsTotal))
print(prob_to_odds(myOdds2))

26758
1520
My Odds 480.0
Their Odds -160
3420.7894736842104

In [95]:
odds_to_prob(480.0)

0.1724137931034483

In [97]:
odds_to_prob(-160)

0.6153846153846154

In [76]:
prob_to_odds(.999)

-99899.99999999991